h1:hover{
    text-shadow: 5px 5px 3px gray;
}

body{
    /*background-color: rgb(223, 223, 223);*/
    background: linear-gradient(to right, rgb(230, 230, 230), skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif, "consolas";
}
img{
    border-style: solid;
    border-width: 5px; 
    border-color: black;
}
img:hover{
    /*animation: myRotation;*/
    animation: myOpacity;
    animation-duration: 5s;
}
@keyframes myRotation {
    100%{transform: rotateY(360deg);}
}
@keyframes myOpacity {
    50%{opacity: 0;}
}
hr{
    border: 2px solid;
}
audio{
    margin-left: 30px;
}
a:link{
    color: blue;
}
a:visited{
    color: gray;
}
button:hover{
    color: white;
}
li:hover{
    color: rgb(128, 131, 128);
}
#first:hover{
    color: rgb(128, 131, 128);
}
#second:hover{
    color: rgb(128, 131, 128);
}
#third:hover{
    color: rgb(128, 131, 128);
}
#fourth:hover{
    color: rgb(128, 131, 128);
}
#second{
    transform: translateX(10px);
}
#third{
    transform: translateX(15px);
}
#fourth{
    transform: translateX(22px);
}
